$main-font: 'Ubuntu', sans-serif;
$list-font: 'Neucha', cursive;

$yellow: #f4e02e;
$green: #5ccc30;
$darkGreen: #2ba84a;
$darker: #279642;
$black: #020202;
$white: #f7fff2;
$delete: #ff8928;

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
    font-size: 125%;
    line-height: 1.5;
}

.dash {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    // background: $darker;

    h1 {
        font-family: $main-font;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
        // color: white;
    }

}

.flex-dash {
    display: flex;
}

.sidebar {
    background: $darker;
    width: 30%;
    height: calc(100vh - 3rem);

    h3 {
        color: white;
        width: 75%;
        margin: 20px auto 0;
        font-family: $list-font;
        font-size: 1.5rem;
    }

    form {
        width: 75%;
        margin: 50px auto 0;
        

        input {
            display: block;
            width: 100%;
            background: none;
            border: none;
            border-bottom: 8px solid $yellow;
            color: white;
            font-family: $main-font;
            font-weight: 700;
            padding: 10px;
            margin-bottom: 20px;   
        }

        button {
            display: block;
            width: 60%;
            margin: 0 auto 50px;
            padding: 10px 0;

        }
    }

    button {
        width: 100%;
        margin: 20px 0 0;
        padding: 15px;
        background: $yellow;
        color: $black;
        border: none;
        box-shadow: 5px 5px $green;
        font-family: $list-font;
    }

    .find {
        width: 75%;
        margin: 0 auto;
    }

    .storedRecipes {
        width: 85%;
        height: 50vh;
        overflow-y: auto;
        margin: 0 auto;
        

        p {
            color: white;
            font-family: $list-font;
            font-size: 1.5rem;
        }

        .showRecipes {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            
            .chosenRecipes {
                background: $yellow;
                position: relative;
                padding: 10px;

                h3 {
                   color: $black;
                   text-decoration: none;
                    font-family: $list-font;
                    font-size: 0.8rem; 
                    text-align: center;
                }
    
                img {
                    width: 100%;
                    display: block;
                    margin: 0 auto;
                }

                button {
                    width: 15%;
                    height: 15%;
                    font-size: 2.5rem;
                    position: absolute;
                    top: -40%;
                    left: 80%;
                    box-shadow: none;
                    background: transparent;
                    z-index: 10;
                    // padding: 5px 10px;
                    // border-radius: 50%;

                    &:hover {
                        transform: scale(1.1);
                    }

                }
            }
        }


    }
}

.main {
    width: 75%;
    height: calc(100vh - 3rem);
    // margin-left: 30px;

    .stepTwo {
        display: flex;
    }

    .ingredientsContainer {
        width: 60%;
        margin-left: 30px;
        // height: 50vh;
        // overflow-y: auto;
        .ingredients {
            display: grid;
            grid-template-columns: 1fr 1fr;
            list-style: none;
            width: 100%;
            height: 30vh;
            overflow-y: auto;
            padding-left: 0px;

            h3 {
                font-family: $main-font;
            }
            
            li {
                button {
                    background: none;
                    border: none;
                    border-bottom: 2px solid $yellow;
                    font-family: $list-font;
                    font-size: 1.1rem;

                    &:hover {
                        border-bottom: 2px solid $green;
                    }
                }

            }
        }
    }
    
    .basket {
        width: 40%;
        margin-right: 70px;

        form {
            width: 100%;

            select {
                display: block;
                margin: 0 auto;
                border: none;
                border-bottom: 5px solid $yellow;
                width: 70%;
                padding: 10px;
                // color: $text;
                padding-left: 15px;

                -webkit-border-radius: 0px;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                -o-appearance: none;
                appearance: none;
            }

            .select-container {
                position: relative;
            }

            .select-arrow {
                // color: $text;
                top: 8px;
                right: 80px;
                padding-right: 5px;
                font-size: 1.3rem;
                position:absolute;
                display:block;
                z-index: 5;
                margin: 0;
                pointer-events:none;
            }
        }

        .addedIngredientContainer {
            list-style: none;
            width: 100%;
            padding: 0;
            height: 20vh;
            overflow-y: auto;
            li {
                border-bottom: 2px solid $yellow;
                font-family: $list-font;
                width: 85%;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;

                p {
                    margin: 0;
                    font-size: 1.1rem;
                }

                button {
                    font-family: $list-font;
                    background: $delete;
                    border: none;
                    margin: 3px;
                }
            }
        }

        .save {
            background: $yellow;
            border: none;
            font-family: $list-font;
            font-size: 1.1rem;
            padding: 5px 0px;
            color: $black;
            width: 40%;
            display: block;
            margin: 0 auto;
        }

        p {
            width: 90%;
            margin: 0 auto 20px;
        }
    }

    .guests {
        h4 {
            margin-left: 50px;
        }
    }
    .stepThree {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2%;
        width: 90%;
        height: 30vh;
        overflow-y: auto;
        margin: 0 auto;
        justify-content: space-evenly;
        
        .guestIngredientContainer {
            // border: 2px solid $yellow;

            h3 {
                text-align: center;
                width: 90%;
                margin: 0 auto;
                border-bottom: 5px solid $yellow;
            }

            ul {
                list-style: none;
                padding: 10px;
                font-family: $list-font;
                li {
                    border-bottom: 2px solid $yellow;
    
                }
            }

        }
    }
}
